# .NET WebApi
bin/
obj/
*.user
*.vspscc
*.suo
*.cache
*.csproj.user
*.dbmdl
*.opensdf
*.VC.db
*.sln.docstates
*/packages/*
*.psess
*.vsp
*.vssscc
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.dll
*.cache
*.log
*.exe
*.xml
*.csv
*.csproj.user
*.config
*.bak
*.publishsettings
*.targets
*.nupkg
*.userprefs
*.csproj.DotSettings
*.publishproj
*.user
*.tmp
*.pdb
*.cache
*.dotcover
*.resharper
*.local.runsettings
*.pgdata
*.pgdmp
*.pglog
*.pgbackup

# eact
node_modules/
dist/
.cache/
.idea/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
